/**
leaflet map层 z-index: 1-400
maptools,progerssbar层 z-index: 715
el-dialog层 z-index: 2010
*/
a {
  color: #cbdeec;
  text-decoration: none;
}
hr {
  background: #ddd;
  border: none;
  height: 1px;
}
.display_base {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_rowWarp {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flex_rowNoWarp {
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.flex_spaceBetween {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.flex_spaceAround {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.flex_center {
  justify-content: center;
  -webkit-justify-content: center;
}
