//背景色
@baseBgColorWhite: #fff;
@baseBgColorDark: #005590;
@baseBgColorLight: #5f9ed1;
@baseBgColorHeader: #0984c8;
@baseBgColorBox: #78b1de;

//文字颜色
@baseFontColorWhite: #fff;
@baseFontColorGrey: #bbb;
@baseFontColorBlack: #555;
@baseFontColor: @baseFontColorWhite;

//字体大小
@baseFontSize: 12px;
@baseFontSizeHeader: 18px;

//组件宽度
@baseLeftWidth: 270px;
@baseHeaderHeight: 260px;

a {
  color: @baseBgColorLight;
  text-decoration: none;
}
